/* Container */
.lp-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 4rem 0px;
  padding-top: 100px;
  background: #fff;
  font-family: Arial, sans-serif;
}

/* HERO SECTION */
.lp-hero {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 4rem;
  padding: 80px 100px 160px 50px;

}

.lp-hero-left {
  position: relative;
  flex: 1;
}

.lp-hero-left h1 {
  position: relative;
  top: 22%;
  /* left: 10px; */
  font-size: 2.5rem;
  max-width: 300px;
  font-weight: bold;
  z-index: 999;
}

.lp-hero-right {
  flex: 1;
}

/* Card */
.lp-card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.lp-card-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.lp-card-header button {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  cursor: pointer;
}

.lp-card-header .lp-active {
  background: #f7cf00;
  border: none;
}

.lp-card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lp-card-body input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button.lp-primary {
  background: #ffd700;
  color: #333;
  border: none;
  padding: 15px 40px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
    margin-left: 90px;

}

/* Content Sections */
.lp-content-block {
  display: flex;
  align-items: center;
  gap: 200px;
  height: 70vh;
  position: relative;
  padding-bottom: 50px;
}

.lp-text {
  flex: 1;
  max-width: 500px ;
  margin-left: 100px;

}

.lp-text h2 {
  margin-bottom: 1rem;
  font-size: 2.3rem;
}

.lp-text p {
  color: #555;
  line-height: 1.6;
}

/* CTA */
.lp-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  padding-left: 25vh;
  gap: 3rem;
}

.lp-cta-left {
  flex: 1;
}

.lp-cta-left h1{
  padding: 40px 0;
}

.lp-icon {
  background: #0a4a57;
  color: #fff;
  border-radius: 50%;
  display: flex;              /* center content */
  align-items: center;        /* vertical center */
  justify-content: center;    /* horizontal center */
  height: 70px;               /* increased size */
  width: 70px;
  font-size: 2rem;            /* scale icon */
  transform: rotate(15deg);   /* slight tilt */
  margin-bottom: 1rem;
}

.lp-cta-right {
  position: relative;
  flex: 1;
}

.lp-small-card {
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
}

.lp-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center text */
  max-width: 50%;
}

.lp-text h2 {
  margin-bottom: 10px;
}

.lp-text p {
  line-height: 1.5;
}

.lp-image img {
  max-height: 500px;
  object-fit: contain;
}
